@import "_media";
.tarjeta {
    border-radius: 10px;
    color: white;
    padding: 20px 15px;
    display: flex;
    height: 150px;
    flex-direction: column;
    @include media(sm) {
        height: auto;
        font-size: 10px;
    }
    &.purple {
        background: $purple;
    }
    &.blue {
        background: $blue;
    }
    &.light_blue {
        background: $light_blue;
    }
    i {
        font-size: 35px;
    }
    .cantidad {
        font-size: 25px;
        margin: 10px 0px;
    }
    .desc {
        font-size: 18px;
    }
    .line {
        width: 20%;
        color: white;
        border: 1px solid white;
        margin: 5px 0px;
    }
}
