@import "_variables";
@import "_share";
@import "_circular";
@import "_media";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    body {
        background: #ccc;
    }
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background: white;

    @include media(sm) {
        width: 100%;

        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include media(sm) {
            flex-direction: column;
        }

        .logo {
            .logo-title {
                text-transform: uppercase;
                color: $red;
                h1 {
                    color: $red;
                    @include media(sm) {
                        font-size: 20px;
                    }
                }
                span {
                    color: #000;
                }
            }
            i {
                display: none;
                @include media(sm) {
                    display: block;
                    font-size: 20px;
                }
            }
            @include media(sm) {
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                width: 100%;
                padding: 1rem;
            }
        }
        .bredcrumb {
            font-size: $perfil_size;
            @include media(sm) {
                display: none;
            }
        }
        .perfil {
            display: flex;
            align-items: center;
            @include media(sm) {
                width: 100%;
                justify-content: space-around;
                margin-bottom: 1rem;
            }
            h1 {
                font-size: $perfil_size;
                margin: 0 15px;
            }
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
            .logout {
                background: $red_strong;
                color: #fff;
                padding: 10px 20px;
                border: none;
                font-size: 16px;
                font-weight: normal;
                border-radius: 8px;
            }
        }
    }
    .container-main {
        display: grid;
        grid-template-columns: 20% 1fr;
        @include media(sm) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .dash {
            font-size: 18px;
            display: flex;
            flex-direction: column;
            transition: 0.3s ease all;
            @include media(sm) {
                position: absolute;
                height: 100vh;
                z-index: 1000;
                width: 80%;
                opacity: 0.9;
                background: $blue;
                transform: translate(-200%);
            }
            &.active {
                transform: translate(-0%);
            }
            .item {
                margin: 20px 40px;
                width: 80%;
                transition: 0.3s ease all;
                @include media(sm) {
                    color: white;
                }
                i {
                    margin-right: 17px;
                }
                &:hover {
                    cursor: pointer;
                    color: $red;

                    background: rgba(255, 30, 30, 0.2);
                    border-radius: 20px;
                }
            }
        }
        .contenido {
            width: 80%;
            @include media(sm) {
                width: 100%;
                position: relative;
            }
            .dias {
                background-color: rgba(255, 30, 30, 0.1);
                display: grid;
                padding: 15px;
                grid-template-columns: repeat(9, 1fr);
                justify-items: center;
                @include media(sm) {
                    width: 100%;
                    overflow: auto;
                }
                .day {
                    &.active {
                        background: $red_strong;
                        color: white;
                        border-radius: 30px;
                        cursor: pointer;
                    }
                    &:hover {
                        background: $red_strong;
                        color: white;
                        border-radius: 30px;
                        cursor: pointer;
                    }
                    .dayname {
                        padding: 15px;
                    }
                    .date {
                        padding: 15px;
                        text-align: center;
                    }
                }
            }
            .tarjetas {
                margin: 20px 0;
                display: grid;
                gap: 15px;
                grid-template-columns: repeat(3, 1fr);

                @include media(sm) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            .quiz {
                
                .title {
                    display: flex;
                    justify-content: space-between;
                    margin: 20px 0px;
                    font-size: 20px;
                    font-weight: bold;
                }
                .content {
                    display: flex;
                    flex-direction: row;

                    @include media(sm) {
                        flex-direction: column;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
